* {
	font-family: 'Montserrat', sans-serif;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
	background-color: #1b85b8;
	position: absolute;
	width: 100%;
}

.color-strip-container {
	position: fixed;
	width: 100%;
	height: 10px;
	margin:0 auto;
	float: left;
	z-index: 100;
}

.yellow,
.red,
.green,
.grey {
	position: relative;
	width: 8.33333333333333%;
	height: 10px;
	display: inline-block;
	margin:0 auto;
	margin-top: 0px;
    float:left;
}

.yellow {
	background-color: #c3cb71;
}

.red {
	background-color: #ae5a41;
}

.green {
	background-color: #559e83;
}

.grey {
	background-color: #5a5255;
}

.input-and-camera-container {
	position: absolute;
	height: 52px;
	width: 375px;
	margin-top: 85px;
	margin-left: 52.5%;
  	transform: translate(-50%, -50%);
}

.camera-container {
	height: 52px;
	width: 52px;
	float: right;
	margin-right: 5px;
}

.glyphicon-camera:hover {
	cursor: pointer;
}

.glyphicon-camera:active {
	color: #70686B;
	font-size: 46px;
	margin-top: 4px;
	margin-left: 3px;
}

.glyphicon-camera {
	color: #5a5255;
	font-size: 52px;
}

.input-container {
	width: 305px;
	height: 35px;
	margin-top: 13px;
}

input {
	width: 305px;
	height: 35px;
	border-radius: 4px;
	font-size: 16px;
	border-style: none;
	border: 2px solid #5a5255;
	text-align: center;
	color: #5a5255;
}

.images-container {
	position: absolute;
	margin-top: 875px;
  	margin-left: 50%;
	padding: 1px;
  	width: 1421px;
  	height: 1421px;
  	transform: translate(-50%, -50%);
  	border: 2px solid #5a5255;
  	border-radius: 4px;
  	background-color: #FFFFFF;
}

.image {
	display: inline-block;
	width: 279px;
	height: 279px;
	margin: 2px;
	border-radius: 4px;
	border: 2px solid #5a5255;
}

.image:hover {
	cursor: pointer;
}

.image:active {
	opacity: 0.5;
}

.image.ng-enter {
	transition: .75s ease-in all;
	opacity: 0;
}

.image.ng-enter-active {
	opacity: 1;
}