* {
	font-family: 'Montserrat', sans-serif;
}

body {
	background-color: #1b85b8;
}

.yellow,
.red,
.green,
.grey {
	width: 8.33333333333333%;
	height: 20px;
	display: inline-block;
	margin:0 auto;
    float:left;
}

.yellow {
	background-color: #c3cb71;
}

.red {
	background-color: #ae5a41;
}

.green {
	background-color: #559e83;
}

.grey {
	background-color: #5a5255;
}

.camera-container {
	height: 200px;
	width: 178px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 25px;
	position: fixed;
 	top: 24%;
  	left: 50%;
  	transform: translate(-50%, -50%);
}

.glyphicon-camera {
	color: #FFFFFF;
	font-size: 178px;
}

.input-container {
	width: 305px;
	height: 40px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	position: fixed;
 	top: 40%;
  	left: 50%;
  	transform: translate(-50%, -50%);
}

input {
	width: 305px;
	height: 40px;
	border-radius: 4px;
	font-size: 16px;
	border-style: none;
	border: 2px solid #5a5255;
	text-align: center;
	color: #5a5255;
}